<div class="hero">
  <div class="container">
    <div class="card card--bottom-left">
      <h2 class="card__header">Safe Zone Program</h2>
      <p class="card__text">
        The Truman State University Safe Zone Program was created to have a
        network of knowledgeable faculty, staff, and students in order to create
        safe and welcoming environments for lesbian, gay, bisexual, transgender,
        and queer (LGBTQ+) people.
      </p>
      <button class="btn btn--primary">Learn more</button>
    </div>
  </div>
</div>
