<nav class="nav collapsible collapsible--expanded">
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">News & events</a></li>
    <li class="nav__item"><a href="#">Offices & centers</a></li>
    <li class="nav__item"><a href="#">Education & development</a></li>
    <li class="nav__item"><a href="#">About us</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
    <li class="nav__item"><a href="#">TruSelf</a></li>
  </ul>
</nav>
